* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  line-height: 2em;
  font-size: 1.5em;
}
main {
  display: flex;
  flex-flow: column;

  text-align: center;
  .list {
    display: flex;
    justify-content: center;
    align-content: center;
    ul {
      text-align: left;
      list-style: decimal inside;
    }
  }
}
